---
role: site-index
pagination: regular
layout: default
---
{{#if site.cover}}
<div class="teaserimage">
  <div class="teaserimage-image" style="background-image: url({{ site.cover }})">
      Teaser Image
  </div>
</div>
{{/if}}

<header class="blog-header">

  {{#if site.logo}}
    <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
  {{/if}}

  <h1 class="blog-title">{{ site.title }}</h1>
  <h2 class="blog-description">{{ site.description }}</h2>
  <div class="custom-links">
    <!--
    {% for social in site.social %}
      {% if social.url %}
          <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
            <i class="fa fa-{{ social.icon }}"></i>
          </a>
          &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endif %}
    {% endfor %}
    -->
    <a href={{ "/about/" }}>About</a>
  </div>
</header>
<main class="content" role="main">
  {{#if pagination.is_first}}
    {{#if site.entries.featured}}
      <h5 class="index-headline featured"><span>Featured</span></h5>
      <div class="container featured">
        {{#each site.entries.featured as |entry|}}
          <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
            <div class="article-item">
              <header class="post-header">
                <h2 class="post-title" itemprop="name"><a href="{{ entry.permalink }}" itemprop="url">{{ entry.title }}</a></h2>
              </header>
              <section class="post-excerpt" itemprop="description">
                <p>{{{ entry.excerpt }}}</p>
              </section>
              <div class="post-meta">
                <time datetime="{{ entry.date }}">{{ entry.date }}</time>
    <!--            <span class="post-tags-set">on {{#each tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/each}}</span>-->
              </div>
            </div>
          </article>
        {{/each}}
        <h5 class="index-headline normal"><span>Regular</span></h5>
      </div>
    {{/if}}
  {{/if}}
  <div class="cf frame">
    {{#each pagination.entries as |entry|}}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a href="{{ entry.permalink }}" itemprop="url">{{ entry.title }}</a></h2>
          </header>
          <section class="post-excerpt" itemprop="description">
            <p>{{{ entry.excerpt }}}</p>
          </section>
          <div class="post-meta">
            <time datetime="{{ entry.date }}">{{ entry.date }}</time>
<!--            <span class="post-tags-set">on {{#each tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/each}}</span>-->
          </div>
        </div>
      </article>
    {{/each}}
  </div>
  {{include navigation}}
</main>
